[user]
	name = {{ .git.name }}
	email = {{ .git.email }}

[core]
	excludesFile = ~/.gitignore_global
	editor = vim

[init]
	defaultBranch = main

[pull]
	rebase = false

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --all --decorate
